<div class="col-md-12">
  <div class="job">

    <%= link_to("提交简历", new_job_resume_path(@job), class: "btn btn-default pull-right") %>

  </div>

  <table class="table table-boldered table-striped custab">
    <tr>
        <th width="25%"><%= "职位：" %></th>
        <td><%= @job.title %></td>
    <tr/>
    <tr>
        <th><%= "职位描述：" %></th>
        <td><%= simple_format(@job.description) %></td>
    <tr/>
    <tr>
      <th><%= "薪资下限：" %></th>
      <td><%= @job.wage_lower_bound %></td>
    <tr/>
    <tr>
      <th><%= "薪资上限：" %></th>
      <td><%= @job.wage_upper_bound %></td>
    <tr/>
    <tr>
      <th><%= "联系方式：" %></th>
      <td><%= @job.contact_email %></td>
    </tr>
  </table>


</div>
